* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(40, 46, 46);
    color: #f8f8f8;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#container {
    width: 350px;
    min-height: 300px;
    background-color: rgb(40, 46, 46);
    border: 2px solid #3f3f3f;
    border-radius: 10px 15px;
    color: #f8f8f8;
}

#clear {
    grid-column: span 2;
    background-color: #920427;
}

#clear:hover {
    background-color: #7a2238;
}

#delete {
    grid-column: span 1;
    background-color: #3f3f3f;
}

#delete:hover {
    background-color: #464545;
}

#equal {
    grid-column: span 2;
    background-color: #10345c;
}

#equal:hover {
    background-color: #143f70;
}

#clear , #delete, #equal {
    border: none;
}

#digits {
    color: #f8f8f8;
    display: grid;
    gap: 0.3rem;
    padding: 1rem 0.5rem;
    grid-template-columns: repeat(4, minmax(60px, 1fr));
    border-top: 2px solid #3f3f3f;
}

input {
    border-radius: 15px;
}

input[type=button] {
    font: inherit;
    min-height: 4rem;
    color: #fff;
    background-color: rgb(40, 46, 46);
    border: 1px solid #3f3f3f;
}

input[type=button]:hover {
    background-color: #373738;
}

/* screen */
section.screen {
    text-align: right;
    min-height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    padding: 0 15px;  
    background-color: #333;
    border-radius: 10px 15px 0 0;
}

div#evaluate {
    font-size: 0.9rem;
    color: #f8f8f8;
}
